@import 'theme.css';
wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #eca260;
    height: 32px;
}

a:hover {
    color: #eca260;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: #f8821a;
    text-decoration: none;
    cursor: pointer;
}
.wy-side-nav-search {
    background-color: #eca260;
}
.wy-menu-vertical a:active {
    background-color: #f8821a;
    cursor: pointer;
    color: #fff;
}